extends layout
block content
  .row.col-md-12
    h2
      |Info
      hr
  .row.col-md-12
    p
      |This API is 100% free and hosted on free services please be considerate about the number of requests you are making. All data stored in the API's database is freshly parsed from 
      a(href='http://americanmotocrossresults.com/')
        |American Motocross Results 
      |if there are any inconsistences please file a Github issue. I am open to developing this API further to offer a wider variety of data. If you are experiencing issues or would like to contribute to the development of the API please click the links below. 
    h4
      |Contributions:
      br
      a(href='https://github.com/EGWeeks/promotocrossapi')
        |Clone from Github
    h4
      |Issues:
      br
      a(href='https://github.com/EGWeeks/promotocrossapi/issues')
        |Create a new issue on Github
