extends layout
block content
    .core
      .row
        .col-sm-12
          h4
            |Access the 2016 Lucas Oil AMA Pro Motocross series data. Updated every week during the series with Lap Times for all 250 and 450 motos.
      .row
        .col-sm-12
          h2.doc-header
            |Call current moto data by track name
          hr
      .row
        .col-sm-8
          h4
            |API call
          samp.language-json(data-lang='json')
            span.label.label-primary
              |GET
            |&nbsp;http://promotocrossapi.com/laptimes/{track-name}
          h4
            |Description
          p
            |All API calls must be made with a track name. The API will respond with every lap time of every rider in moto 1 and 2. The response will be seperated by motos and class. Meaning Moto 1 of the 250MX class will be in a single object with all the riders lap times within it.
          h4
            |Example of API call
          p
            figure.highlight
              code.language-json(data-lang='json')
                a
                  |http://promotocrossapi.com/laptimes/Wick-338
        .col-sm-4
          ul.list-group
            li.list-group-item
              |Track Names
            li.list-group-item 
              |Hangtown
            li.list-group-item 
              |Glen-Helen-Raceway
            li.list-group-item 
              |Thunder-Valley
            li.list-group-item 
              |High-Point-Raceway
            li.list-group-item 
              |Muddy-Creek-Raceway
            li.list-group-item 
              |Redbud
            li.list-group-item 
              |Wick-338
            li.list-group-item 
              |Spring-Creek-MX-Park
            li.list-group-item 
              |Washougal-MX-Park
            li.list-group-item 
              |Unadilla
            li.list-group-item 
              |Budds-Creek-Motocross
            li.list-group-item
              |Ironman-Raceway
      .row
        .col-sm-12
          h3.doc-header
            |Call a track name by bike class
          hr
      .row
        .col-sm-8
          h4
            |API call
          samp.language-json(data-lang='json')
            span.label.label-primary
              |GET
            |&nbsp;http://promotocrossapi.com/laptimes/{track-name}/{class}
          h4
            |Description
          p
            |The API will respond with lap times from the class and track name you specify. The class parameter has an option value of `both` which is available to use when requesting data by moto num. *There's No need to use `both` without a moto number parameter, calling with just a track name will respond with the same data. (More information below)
          h4
            |Example of API call
          p
            figure.highlight
              code.language-json(data-lang='json')
                a
                  |http://promotocrossapi.com/laptimes/Glen-Helen-Raceway/250
        .col-sm-4
          ul.list-group
            li.list-group-item
              |Classes
            li.list-group-item
              |250
            li.list-group-item
              |450
            li.list-group-item
              |both
      .row
        .col-sm-12
          h3.doc-header
            |Call a track name by bike class and moto number
          hr
      .row
        .col-sm-8
          h4
            |API call
          span.label.label-primary
           |GET
          samp.language-json(data-lang='json')
            |&nbsp;http://promotocrossapi.com/laptimes/{track-name}/{class}/{moto-number}
          h4
            |Description
          p
            |The API will respond with lap times from the moto number, class and track name you specify. For the instance of requesting data for moto 1 of both class we can use the both value in class parameters
          h4
            |Example of API call
          p
            figure.highlight
              code.language-json(data-lang='json')
                a
                  |http://promotocrossapi.com/laptimes/Redbud/450/2
                br
                br
                a
                  |http://promotocrossapi.com/laptimes/Redbud/both/1
        .col-sm-4
          ul.list-group
            li.list-group-item
              |moto
            li.list-group-item
              |1
            li.list-group-item
              |2
      .row
        .col-sm-12
          h3
            |Example API response
            hr
          pre#format-ex
    <script src='javascripts/jsonExample.js'></script>
    <script src='javascripts/analytics.js'></script>

