extends layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Pro Motocross API
  .container
    h1 Pro Motocross API
    p Welcome to the Pro motocross API
    .row
      pre
        figure.highlight
          code.language-json(data-lang='json')
            |{"property": "value","array": [{"stuff":"stuff value"},{"stuff":"more stuff value"}]...

    .row
      // 
        no Pre tag creates a CLI looking text with gray background
      figure.highlight
        code.language-json(data-lang='json')
          |{"property": "value","array": [{"stuff":"stuff value"},{"stuff":"more stuff value"}]...
