doctype html
html
  head
    title Pro Motocross API
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container.page
      nav.navbar.navbar-default
        div.container-fluid
          div.navbar-header
            a.navbar-brand(href='/') Pro Motocross API
          ul.navbar-right.navbar-nav.nav
            li
              a(href='/')
                |API
            li
              a(href='/contact')
                |Contact
      block content
